{% extends "base_generic.html" %}

{% block content %}
<h1>Jay's Music Album Database</h1>
<hr>
<p>I got tired of keeping track of people borrowing my CDs, people returning my CDs, broken CDs, and overall which CDs I own.</p>
<p>So I developed this database as a Django project.</p>
<p>Welcome to <em>Album Library</em>, a grassroots Django website developed to catalog and keep track of my CD library.</p>
<hr>
<p>It's also a proof of concept website, to show that I'm able to develop and deploy a Django-based website.</p>
<p>This website showcases basic use of views, models and templates, but also user authentication and connection to a MySQL database.</p>

<p>This website will remain as long as it's feasible as a portfolio example project.</p>

<h2>Dynamic content</h2>

<p>The library has the following record counts:</p>
<ul>
<li><strong>Music Albums:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
<li><strong>Artists:</strong> {{ num_authors }}</li>
</ul>


<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}
